<!-- <section class="container">
    <section class="inner" *ngFor="let user of users" [ngClass]="isActive(user)">
        <h1 class="inner__title">{{user.name}}</h1>
        <p>This user is {{user.age}} years old</p>
        <section class="btngroups">
            <button *ngIf="!user.active" class="activate" (click)="activatebtn(user)">Activate</button>
            <button *ngIf="user.active" class="deactivate" (click)="deactivatebtn(user)">Deactivate</button>
        </section>
    </section>

</section> -->

<section class="container">
    <div class="inputs">
        <button role="button" *ngIf="!visible" (click)="displayInputs()">Add New Task</button>
        <form action="" *ngIf="visible">
            <input type="text" placeholder="Task Name" [(ngModel)]="data.text" />
            <select name="" [(ngModel)]="data.difficulty></select>
            <button role=" button" (click)="addTask()">Add</button>
        </form>

    </div>
    <div class="progress-bars">
        <div class="todo">1</div>
        <div class="inprogress">2</div>
        <div class="done">3</div>
    </div>
</section>